.centrado {
    text-align: center;
}
.oculto {
    display: none;
}
#chat {
    width: calc(100% - 4em);
    height: 12em;
    border: 1px solid black;
    margin: auto;
    overflow: auto;
}
#chat > pre {
    margin: 0px;
}
#chat > pre.cliente {
    color: darkgreen;
}
#chat > pre.servidor {
    color: orangered;
}
#envios {
    width: calc(100% - 4em);
    margin: 0.5em auto;
}
#texto {
    width: calc(100% - 6em);
    float: left;
}
#envio {
    width: 5em;
    float: right;
}
